Babel==1.3
Django==1.8.7
Flask==0.10.1
FormEncode==1.2.6
Jinja2==2.8
Landscape-Client==14.12
M2Crypto==0.21.1
Mako==0.9.1
MarkupSafe==0.18
MySQL-python==1.2.3
PAM==0.4.2
Paste==1.7.5.1
PasteDeploy==1.5.2
PasteScript==1.7.5
Pillow==2.3.0
Pint==0.6
PyMySQL==0.6.6
PyYAML==3.10
Pygments==2.1
Routes==2.2
SQLAlchemy==1.0.11
SecretStorage==2.0.0
Sphinx==1.3.6
Tempita==0.5.2
Twisted==13.2.0
Twisted-Conch==13.2.0
Twisted-Core==13.2.0
Twisted-Lore==13.2.0
Twisted-Mail==13.2.0
Twisted-Names==13.2.0
Twisted-News==13.2.0
Twisted-Runner==13.2.0
Twisted-Web==13.2.0
Twisted-Words==13.2.0
Unidecode==0.4.14
WSME==0.8.0
WebOb==1.5.1
WebTest==2.0.18
Werkzeug==0.9.4
alabaster==0.7.7
alembic==0.8.2.dev0
amqp==1.4.9
amqplib==1.0.2
anyjson==0.3.3
appdirs==1.4.0
apt-xapian-index==0.45
argparse==1.2.1
astroid==1.4.4
automaton==1.2.0
beautifulsoup4==4.2.1
blinker==1.3
boto==2.38.0
cachetools==1.1.5
castellan==0.4.0
ceph-detect-init==1.0.1
ceph-disk==1.0.0
cephfs==0
cffi==1.5.2
chardet==2.0.1
cinder==8.0.0
cliff==1.15.0
cliff-tablib==1.1
cmd2==0.6.7
colorama==0.2.5
configobj==4.7.2
contextlib2==0.5.1
coverage==3.7.1
croniter==0.3.4
cryptography==1.2.3
csscompressor==0.9.4
debtcollector==1.3.0
decorator==3.4.0
designate==2.0.0
django-appconf==1.0.1
django-compressor==2.0
django-debug-toolbar==1.0.1
django-openstack-auth==2.1.1
django-pyscss==2.0.2
dnspython==1.12.0
docutils==0.11
dogpile.cache==0.5.7
dogpile.core==0.4.1
ecdsa==0.13.3
enum34==1.1.2
eventlet==0.18.4
extras==0.0.3
fasteners==0.12.0
fixtures==1.3.1
flake8==2.5.4
funcsigs==0.4
functools32==3.2.3.post2
futures==3.0.5
futurist==0.13.0
glance==12.0.0
glance-store==0.13.0
greenlet==0.4.2
gunicorn==19.4.5
gyp==0.1
hacking==0.10.2
happybase==0.8
heat==6.0.0
horizon==9.1.0
html5lib==0.999
httplib2==0.8
ibm-db==2.0.5
ibm-db-sa==0.3.1
idna==2.0
iotop==0.6
ipaddr==2.1.10
ipaddress==1.0.16
ipython==1.2.1
iso8601==0.1.11
itsdangerous==0.22
jsonpatch==1.10
jsonpath-rw==1.4.0
jsonpointer==1.9
jsonrpclib==0.1.3
jsonschema==2.5.1
junitxml==0.6
kazoo==2.2.1.dev0
keyring==7.3
keystone==9.1.0
keystoneauth1==2.4.1
keystonemiddleware==4.4.1
kombu==3.0.33
lazy-object-proxy==1.2.1
ldappool==1.0
lesscpy===0.9j
librabbitmq==1.0.3
linecache2==1.0.0
lockfile==0.8
logilab-common==1.1.0
logutils==0.3.3
lxml==3.3.3
mccabe==0.2.1
mock==1.3.0
monotonic==0.6
mox==0.5.3
mox3==0.7.0
msgpack-python==0.4.6
netaddr==0.7.18
netifaces==0.10.4
networkx==1.11
neutron==8.1.2
neutron-fwaas==8.0.0
neutron-lib==0.0.2
nova==13.1.1
numpy==1.8.2
oauthlib==0.6.1
openstacksdk==0.8.1
os-brick==1.2.0
os-client-config==1.16.0
os-win==0.4.1
oslo.cache==1.6.0
oslo.concurrency==3.7.1
oslo.config==3.9.0
oslo.context==2.2.0
oslo.db==4.7.0
oslo.i18n==3.5.0
oslo.log==3.2.0
oslo.messaging==4.6.1
oslo.middleware==3.8.0
oslo.policy==1.6.0
oslo.reports==1.7.0
oslo.rootwrap==4.1.0
oslo.serialization==2.4.0
oslo.service==1.8.0
oslo.utils==3.8.0
oslo.versionedobjects==1.8.0
oslo.vmware==2.5.0
oslosphinx==4.3.0
oslotest==2.3.0
osprofiler==1.2.0
paramiko==1.16.0
passlib==1.6.5
pathlib==1.0.1
pbr==1.8.0
pecan==1.0.2
pep8==1.7.0
pexpect==3.1
pika==0.10.0
pika-pool==0.1.3
ply==3.4
positional==1.0.1
posix-ipc==0.9.8
prettytable==0.7.2
psutil==1.2.1
psycopg2==2.6.1
pyOpenSSL==0.15.1
pyScss==1.3.4
pyasn1==0.1.9
pycadf==2.2.0
pycparser==2.10
pycrypto==2.6.1
pydns==2.3.6
pyflakes==1.1.0
pygobject==3.12.0
pyinotify==0.9.6
pylint==1.5.2
pymemcache==1.3.2
pyparsing==2.0.1
pysaml2==6.5.0
pyserial==2.6
pysnmp==4.2.5
pysnmp-apps==0.3.2
pysnmp-mibs==0.1.3
python-apt===0.9.3.5ubuntu2
python-barbicanclient==4.0.1
python-ceilometerclient==2.4.0
python-cinderclient==1.6.0
python-cloudfiles==1.7.10
python-dateutil==2.4.2
python-debian===0.1.21-nmu2ubuntu2
python-designateclient==2.1.0
python-glanceclient==2.0.0
python-heatclient==1.1.0
python-keystoneclient==2.3.1
python-ldap==2.4.17
python-magnumclient==2.0.0
python-manilaclient==1.8.1
python-memcached==1.53
python-mimeparse==0.1.4
python-mistralclient==2.0.0
python-neutronclient==4.1.1
python-novaclient==3.3.1
python-novnc===0.4-dfsg-1-20130425-git4973b9cc80
python-openid==2.2.5
python-openstackclient==2.3.0
python-saharaclient==0.14.0
python-senlinclient==0.4.0
python-subunit==1.1.0
python-swiftclient==3.0.0
python-troveclient==2.1.1
python-zaqarclient==1.0.0
pytz==2014.10
rados==0
rbd==0
rcssmin==1.0.6
redis==2.10.5
repoze.lru==0.6
requests==2.9.1
requestsexceptions==1.1.2
retrying==1.3.3
rfc3986==0.2.0
rjsmin==1.0.12
roman==2.0.0
sahara==4.0.0
scgi==1.13
semantic-version==2.3.1
simplegeneric==0.8.1
simplejson==3.3.1
singledispatch==3.4.0.2
six==1.10.0
sphinx-rtd-theme==0.1.9
sqlalchemy-migrate==0.10.0
sqlparse==0.1.10
ssh-import-id==3.21
stevedore==1.12.0
suds-jurko==0.7.dev0
tablib==0.9.11
taskflow==1.30.0
testrepository==0.0.20
testresources==0.2.7
testscenarios==0.4
testtools==1.8.1
thrift==0.9.0
tooz==1.34.0
traceback2==1.4.0
unicodecsv==0.14.1
unittest2==1.1.0
urllib3==1.13.1
virtualenv==1.11.6
voluptuous==0.8.8
waitress==0.8.8
warlock==1.1.0
websockify==0.6.1
wheel==0.29.0
wrapt==1.8.0
wsgiref==0.1.2
zake==0.1.6
zope.interface==4.0.5
